<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Add a password</title>
    </head>
    <body>
        <h1>Enter the site name and password to continue</h1>
        <form action="/add_password" method="post">
            <div>
                <label for="site">Enter Site Name:</label>
                <input type="text" id="text" name="site" placeholder="Enter Valid Site Name" required>
                <label for="pwd">Enter the password:</label>
                <input type="password" id="pwd" name="password" placeholder="Enter your password" required> 
            </div>
            <br>
            <button type="submit">Submit Form</button>
        </form>
    </body>
</html>