<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Get Password</title>
    </head>
    <body>
        <h1>Enter the site name for which the password is required</h1>
        <form action="/get_password" method="post">
        <div>
            <label for="site">Enter site name:</label>
            <input type="text" id="text" name="site" placeholder="Enter the site name" required>
        </div>
        <br>
        <button type="submit">Submit Form</button>
        {% if password %}
        <p>Your password is: {{ password }}</p>
        {% endif %}
        </form>
        <a href="{{ url_for('home') }}"><button>Back to Home</button></a>
    </body>
</html>