<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Password Strength</title>
    </head>
    <body>
        <h1>Enter a password:</h1>
        <form action="/password_strength" method="post">
            <div>
                <label for="pwd">Enter the password:</label>
                <input type="password" id="pwd" name="password" placeholder="Enter a password" required>
            </div>
            <br>
            <button type="submit">Submit Form</button>
            {% if strength %}
            <p>The strength is: {{ strength }}</p>
            {% endif %}
        </form>
        <a href="{{ url_for('home') }}"><button>Back to Home</button></a>
    </body>
</html>